/* The body of the web page */
body{
  background-color: #e8e8e8;;
  margin-left: 0px;
  min-height: max-content;
  overflow-x: hidden;
}     

/* -----------------------The havbar(header)  section elemnts----------------------*/
header {
  font-family: 'Poppins', sans-serif;
  background: #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; 
  width: 100vw; 
  margin: 0 auto;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

h1.headlabel {
  padding-left: 20px;
  font-size: 30px;
  text-align: left;
  text-decoration: none;
  color:#101936;

  font-family: 'Brush Script MT', cursive;
}
/* The header left side of the page (containing the icon line name "sreyas" on the top left corner) */
.header-left {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

/* The buttons in the header Home, about, Services, Blog, Projects, Contact */
.header-button {
  font-family: 'Poppins', sans-serif;
  color: #090909;
  width: fit-content;
  font-size: 1rem;
  min-height: 44px; 
  min-width: 90px; 
  min-height: 35px;
  background-color:#e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  margin-right: 20px;
  border-radius: 20px;
  cursor: pointer;
  padding: 12px 24px; 
  margin: 10px 15px; 
  align-items: center; /* Vertically center text */
  justify-content: center; /* Horizontally center text */
}

/* Animation on hovering the button to chage the button color */
.header-button:hover {
  color: #fff;
  background-color: #3cec65;
  border-color: #0dfd55;
}

/* The hamburger menu styles */
.hamburger-menu {
  display: none;
  background-color: #00246b00;
  border: none;
  padding: 10px;
  cursor: pointer;
}
  .hamburger-menu i {
    font-size: 24px;
    color: #000000;
  }

  #nav-menu {
    display: none;
    justify-content: space-between;
  }
  /* When the .hamburger-menu element has the 'active' class, 
  this rule applies to the #nav-menu element immediately following it.
  The #nav-menu will be displayed as a flex container and its
  opacity will be set to 1, making it visible. */
  .hamburger-menu.active + #nav-menu {
    display: flex;  
    opacity: 1;
  }


/* ---------------------Header section ends here-------------------------- */



  
  /* The body section begins here(main) */


  /* The heading of the about page saying "about me" */
  h1 {
    text-align: center;
    font-size: 2.5rem; 
    font-family: 'Poppins', sans-serif;
    color: #494949;
    }
    /* The 1st card of the about page */
  .welcome{
    width: 75%;
    margin: 0 auto;
    background: #e8e8e8;
    padding: 20px;
    border-radius: 10px ;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
    /* The content of the 1st card */
    .welcome p{
        text-align: justify;
        padding: 10px;
        font-style: italic;
        color: #494949;
    }

  /* The second card (background) */
  .background{    
    width: 75%;
    margin: auto;
    background: #e8e8e8; ;
    padding: 20px;
    border-radius: 10px ;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }   
      /* The heading of the background card */
      .background h2{
        text-align: left;
        color: #494949;
      }
      /* The content of the background card */
      .background p{
        text-align: justify;
        padding: 10px;
        color: #494949;
        font-style: italic;
      }

  /* Third card (My Values) */
  .myValues{    
    width: 75%;
    margin: auto;
    background: #e8e8e8; ;
    padding: 20px;
    border-radius: 10px ;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    }   
      /* The heading of the myValues card */
      .myValues h2{
        text-align: left;
        color: #494949;
      }
      /* The content of the myValues card */
      .myValues p{
        text-align: justify;
        padding: 10px;
        font-style: italic;
        color: #494949;
      }
    
  /* Fourth card (personal interests) */
  .personalInterests{    
    width: 75%;
    margin: auto;
    background: #e8e8e8; ;
    padding: 20px;
    border-radius: 10px ;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    }   
      /* The heading of the personal interests card */
      .personalInterests h2{
        text-align: left;
        color: #494949;
      }
      /* The content of the personal interests card */
      .personalInterests p{
        text-align: justify;
        padding: 10px;
        font-style: italic;
        color: #494949;
      }

/* The cards ends here */

/* The lets connect section with a paragraph and the social icons */
.letsconnect h2, .letsconnect p{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  color: #494949;;
}
  /* The social media icons on the lets connect section */
  .iconsforsocial{
    font-size: 2em;
    text-align: center;
  }

/* The skills secion */
  .skills h2, .skills p{
    text-align: center;
    color: #494949;
  }
  /* The list items (skills) */
  li{
    padding: 20px;
    font-size: 0.9em;
    list-style-type: none;
  }


  /* lst is the lst elements of the skills */
  .lst{
    margin: auto;
    border-radius: 10px;
    width: fit-content;
    color: #494949;
    background-color:#e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
   
    }


  /* The body (main secton) ends here */


  /* ---------------------------------------The footer parts begins here---------------------------- */
  
  footer {
    position: relative;
    bottom: 0;
    padding: 1em;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    background-color: #e8e8e8;
    color: #fff;
  }

  /* The left side of the footer contents styles */
  .footer-left {
    width: 50%;
    color: #343434;
    text-align: left;
  }

  
  /* The Right side of the footer contents styles (icons are here)*/
  .footer-right {
    position: absolute;
    bottom: 0; 
    right: 0; 
    width: 50%; 
    text-align: right; 
}
      /* The link buttons of the footer right side */
      .footer-right a {
        margin-left: 10px;
        text-decoration: none;
      }

/* ----------------------The footer section of the page ends here--------------------- */

/* ---------------------The meda query for mobile view starts here-------------------------- */
  @media screen and (max-width: 768px) {

     /* The hamburger menu in the top right corner */
    .hamburger-menu {
      display: block;
    }

    /* The buttons of the header (home, services etc..) */
    .header-button{
      font-size: 0.7rem;
      margin-top: 20px;
    }

    /* The menu */
    #nav-menu {
      flex-direction: column;
      position: fixed;
      top: 80px;
      right: 0;
      background-color: #8e8e8ed0;
      padding: 50px;
      border: none;
      overflow: hidden;
      width: 250px; 
      height: 100vh; 
      z-index: 999; /* Ensure the menu is above the slider */ 
    }

    /* The link buttons of the menu */
    #nav-menu a {
      margin-bottom: 5px;
    }

    /* The body section of the about page phone view*/
    /* The main heading "About Me" */
    h1{
      font-size: 20px;
    }

    /* The welcome card (1st card) */
    .welcome{
      width: 70%;
      height: 100%;
    }
      .welcome p{
        font-size: 13px;
      }

    /* The 2nd card (Background) */
    .background{
      width: 70%;
      height: 100%;
    } 
      /* Heading of the card */
      .background h2{
        font-size: 15px;
      }
      .background p{
        font-size: 13px;
      }

    /* The 3rd card (My Values) */
    .myValues{
      width: 70%;
      height: 100%;
    } 
      /* Heading of the card */
      .myValues h2{
        font-size: 15px;
      }
      .myValues p{
        font-size: 13px;
      }
    
    /* The 4th card (personalInterests) */
    .personalInterests{
      width: 70%;
      height: 100%;
    } 
      /* Heading of the card */
      .personalInterests h2{
        font-size: 15px;
      }
      .personalInterests p{
        font-size: 13px;
      }

    /* Lets connect section */
    .letsconnect h2{
      font-size: 15px;
    }
    .letsconnect p{
      text-align: justify;
      padding-left: 20%;
      padding-right: 20%;
      color: #494949;
      font-size: 13px;
      margin-bottom: 40px;
    }

    /* The skills and expertises section of the mobile view */
    .skills h2{
      margin-top: 20px;
      font-size: 15px;
    }

    .skills p{
      font-size: 13px;
    }

    .skills ul{
      list-style-type: none;
      font-size: 13px;
    }
      /* --------------------------Body section ends here(phone view)-------------------------- */

    /* The  */

    /* The footer section of the page on mobile view starts here */
    .footer-right {
      width: 50%;
      text-align: right;
      display: flex;
      flex-direction: column;
    }
      /* The link buttons of the footer right side */
      .footer-right a {
        margin-left: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 22px;
        margin-right: 20px;
      }

      /* The left side of the footer */
    .footer-left {
      width: 50%;
      text-align: left;
      font-size: 10px;
    }

  }

  /* Media querry for mobile ends here */

  /* For screens wider than 769 pixels: */
  @media screen and (min-width: 769px) {
    /* Hide the hamburger menu */
   .hamburger-menu {
     display: none;
   }

    /* Show the navigation menu as a flex container,
     with items spaced out evenly and centered vertically */
   #nav-menu {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
 }
