body{
    background-color: #FDF0F0;
    margin-left: 0px;
    min-height: max-content;
    overflow-x: hidden;
  }     

  h1{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.05;
  }

  header {
    font-family: 'Poppins', sans-serif;
    /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
    background: #132043;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; 
box-shadow: 0 0 15px rgba(0, 0, 0, 1.9); 
border-radius: 10px; 
  }

  h1{
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 12px 15px rgba(57, 57, 57, 0.725);
    color: #494949;
  }

  h1.headlabel {
    padding-left: 20px;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    color:#f9f9f9;
    font-family: 'Brush Script MT', cursive;
  }

  .header-left {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
  }

  .header-button {
    font-family: 'Poppins', sans-serif;
    color: #f9f9f9;
    width: fit-content;
    font-size: 1rem;
    min-height: 44px; 
    min-width: 90px; 
    min-height: 35px;
    /* background-color: #1F4172; */
    background-color: #3D4D55;

    border-color: #1F4172;
    margin-right: 20px;
    min-width: 90px;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px; 
    margin: 10px; 
  }

  .header-button:hover {
    color: #fff;
    background-color: #3cec65;
    border-color: #0dfd55;
  }

  footer {
    background: #132043;
    color: #fff;
    position: relative;
    bottom: 0;
    padding: 1em;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

  hr{
    box-shadow: 0 0 15px rgba(105, 150, 162, 0.9); 
    width: 80%;
  }

  header, footer {
    width: 100vw; 
    margin: 0 auto;
  }

  .footer-left {
    width: 40%;
    text-align: left;
  }

  .footer-center {
    width: 30%;
    text-align: center;  
  }

  .footer-right {
    width: 30%;
    text-align: right;
  }

  .footer-right a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
  }

  .hamburger-menu {
    display: none;
    background-color: #00246b00;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .hamburger-menu i {
    font-size: 24px;
    color: #000000;
  }

  #nav-menu {
    display: none;
    justify-content: space-between;
  }

  .hamburger-menu.active + #nav-menu {
    display: flex; 
    opacity: 1;
  }

  .welcome{
    width: 75%;
    margin: 0 auto;
    background-color: #e0dfdf ;
    padding: 20px;
    border-radius: 10px ;
    box-shadow: 0 12px 15px rgba(57, 57, 57, 0.725);;
  }
  .welcome p{
    text-align: center;
    padding: 10px;
    font-style: italic;

  }

  .background{
    
    width: 75%;
    margin: auto;
    background-color: #e0dfdf ;
    padding: 20px;
    border-radius: 10px ;
    box-shadow: 0 12px 15px rgba(57, 57, 57, 0.725);
  }
  .background h2{
    text-align: left;
    color: #1F4172;
  }
  .background p{
    text-align: center;
    padding: 10px;
    font-style: italic;
  }
  .skills h2,p{
    text-align: center;
    color: #1F4172;
  }
  li{
    padding: 20px;
    font-size: 0.9em;
    list-style-type: none;
  }
  .lst{
    margin: auto;
    border-radius: 10px;
    width: fit-content;
    background-color: #e0dfdf ;
    box-shadow: 0 12px 15px rgba(57, 57, 57, 0.725);
   
    }

  .letsconnect h2, p{
    text-align: center;
    color: #1F4172;
  }

  .iconsforsocial{
    font-size: 2em;
    color:#1F4172;
    text-align: center;
  }

  
  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: block;
    }


    .header-button{
      font-size: 0.7rem;
      margin-top: 20px;
    }

    #nav-menu {
      flex-direction: column;
      position: fixed;
      top: 90px;
      right: 0;
      background-color: #8e8e8ed0;
      padding: 50px;
      border: none;
      overflow: hidden;
      transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
      opacity: 0; 
    }

    #nav-menu a {
      margin-bottom: 5px;
    }

    h1{
      font-size: 20px;
    }
    .welcome{
      width: 70%;
      height: 100%;
    }
    .welcome p{
      font-size: 13px;
    }

    .background{
      width: 70%;
      height: 100%;
    }
    .background h2{
      font-size: 15px;
    }
    .background p{
      font-size: 13px;
    }

    .skills h2{
      font-size: 15px;
    }
    .skills p{
      font-size: 13px;
    }

    li{
      list-style-type: none;
      font-size: 13px;
    }

    .footer-right {
      width: 20%;
      text-align: right;
      display: flex;
      flex-direction: column;
    }

    .footer-right a {
      margin-left: 10px;
      color: #fff;
      text-decoration: none;
      font-size: 22px;
    }

    .footer-left {
      width: 50%;
      text-align: left;
      font-size: 10px;
    }

    .footer-center p {
      width: 50%;
      font-size: 12px;
      text-align: center;  
    }

    .footer-right {
      width: 30%;
      text-align: right;
    }


  }

  @media screen and (min-width: 769px) {
    .hamburger-menu {
      display: none;
    }

    #nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }