/* The body of the web page */
body{
  background-color: #e8e8e8;;
  margin-left: 0px;
  min-height: max-content;
  overflow-x: hidden;
}   


/* -----------------------The havbar(header)  section elemnts----------------------*/
header {
  font-family: 'Poppins', sans-serif;
  background: #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; 
  width: 100vw; 
  margin: 0 auto;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

h1.headlabel {
  padding-left: 20px;
  font-size: 30px;
  text-align: left;
  text-decoration: none;
  color:#101936;

  font-family: 'Brush Script MT', cursive;
}
/* The header left side of the page (containing the icon line name "sreyas" on the top left corner) */
.header-left {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

/* The buttons in the header Home, about, Services, Blog, Projects, Contact */
.header-button {
  font-family: 'Poppins', sans-serif;
  color: #090909;
  width: fit-content;
  font-size: 1rem;
  min-height: 44px; 
  min-width: 90px; 
  min-height: 35px;
  background-color:#e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  margin-right: 20px;
  border-radius: 20px;
  cursor: pointer;
  padding: 12px 24px; 
  margin: 10px 15px; 
  align-items: center; /* Vertically center text */
  justify-content: center; /* Horizontally center text */
}
/* Animation on hovering the button to chage the button color */
.header-button:hover {
  color: #fff;
  background-color: #3cec65;
  border-color: #0dfd55;
}

/* The hamburger menu styles */
.hamburger-menu {
  display: none;
  background-color: #00246b00;
  border: none;
  padding: 10px;
  cursor: pointer;
}
  .hamburger-menu i {
    font-size: 24px;
    color: #000000;
  }

  #nav-menu {
    display: none;
    justify-content: space-between;
  }
  /* When the .hamburger-menu element has the 'active' class, 
  this rule applies to the #nav-menu element immediately following it.
  The #nav-menu will be displayed as a flex container and its
  opacity will be set to 1, making it visible. */
  .hamburger-menu.active + #nav-menu {
    display: flex;  
    opacity: 1;
  }
  /* ---------------------Header section ends here-------------------------- */
  
/* ---------------The Main section starts here---------------------- */
/* Main header */
h1 {
  text-align: center;
  font-size: 2.5rem; 
  font-family: 'Poppins', sans-serif;
  color: #494949;
  }

/*Main description  */
.headDescription p{
  color: #494949;
  text-align: justify;
}


section{
  text-align: justify;
}

.intro{
  text-align: center;
  padding: 25px;
 
}

/* The blog div */
.blogOne{
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  background-color: #e8e8e8;
  width: 80%;
  margin: auto;
  padding: 20px;
  margin-bottom: 10%;
}

.blogOne h2{
  text-align: justify;
  color: #343434;
}


/* The place where the code is shown */
pre {
background: #010101;
padding: 1rem;
border-radius: 5px;
overflow-x: auto;
}

code {
  color: #59de81;
    display: block;
    white-space: pre-wrap;
}
 
/* ------------------------The main section ends here------------------------------ */

  
  
/* ---------------------------------------The footer parts begins here---------------------------- */
  
footer {
  position: relative;
  bottom: 0;
  padding: 1em;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  background-color: #e8e8e8;
  color: #fff;
}

/* The left side of the footer contents styles */
.footer-left {
  width: 50%;
  color: #343434;
  text-align: left;
}


/* The Right side of the footer contents styles (icons are here)*/
.footer-right {
  position: absolute;
  bottom: 0; 
  right: 0; 
  width: 50%; 
  text-align: right; 
}
    /* The link buttons of the footer right side */
    .footer-right a {
      margin-left: 10px;
      text-decoration: none;
    }

/* ----------------------The footer section of the page ends here--------------------- */


/* ---------------------The meda query for mobile view starts here-------------------------- */
@media screen and (max-width: 768px) {

  /* The hamburger menu in the top right corner */
  .hamburger-menu {
    display: block;
  }

  /* The buttons of the header (home, services etc..) */
  .header-button{
    font-size: 0.7rem;
    margin-top: 20px;
  }

  /* The menu */
  #nav-menu {
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: 0;
    background-color: #8e8e8ed0;
    padding: 50px;
    border: none;
    overflow: hidden;
    width: 250px; 
    height: 100vh; 
    z-index: 999; /* Ensure the menu is above the slider */ 
  }

  /* The link buttons of the menu */
  #nav-menu a {
    margin-bottom: 5px;
  }


  /* The body section of the home page phone view */


   
  h1 {
    text-align: center;
    font-size: 2.5rem; 
    font-family: 'Poppins', sans-serif;
    color: #494949;
    }

  p{
    font-size: 13px;
    color: #494949;

  }

  .blogOne{
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    background-color: #e8e8e8;
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-bottom: 10%;
  }
  
  .blogOne h2{
    font-size: 14px;
  }
  .blogOne p{
    font-size: 13px;
  }
  section{
    font-size: 13px;
  }

  pre {
  background: #363636;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
}

.python{
font-size: 10px;
}

  code {
    color: #59de81;
      display: block;
      white-space: pre-wrap;
  }

  


  /* --------------------------Body section ends here(phone view)-------------------------- */


  /* The footer section of the page on mobile view starts here */
  .footer-right {
    width: 50%;
    text-align: right;
    display: flex;
    flex-direction: column;
  }
    /* The link buttons of the footer right side */
    .footer-right a {
      margin-left: 10px;
      color: #fff;
      text-decoration: none;
      font-size: 22px;
      margin-right: 20px;

    }

    /* The left side of the footer */
  .footer-left {
    width: 50%;
    text-align: left;
    font-size: 10px;
  }

}

/* For screens wider than 769 pixels: */
@media screen and (min-width: 769px) {
   /* Hide the hamburger menu */
  .hamburger-menu {
    display: none;
  }

   /* Show the navigation menu as a flex container,
    with items spaced out evenly and centered vertically */
  #nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
  
